<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.houserentproject">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_rent_icon"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_rent_icon"
        android:supportsRtl="true"
        android:theme="@style/Theme.HouseRentProject">
        <activity
            android:name=".additionalActivity.QuestionAnswerActivityController"
            android:exported="false" />
        <activity
            android:name=".additionalActivity.EditPostActivityController"
            android:exported="false"
            android:parentActivityName=".MyPostController" />
        <activity
            android:name=".NstuContactActivityController"
            android:exported="false"
            android:parentActivityName=".DashboardActivityController" />
        <activity
            android:name=".additionalActivity.HelpActivityController"
            android:exported="false"
            android:parentActivityName=".MyPostController" />
        <activity
            android:name=".DashboardActivityController"
            android:exported="false" />
        <activity android:name=".SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MapActivityController"
            android:exported="false" />
        <activity
            android:name=".AdminHomePageDetailsController"
            android:exported="false"
            android:parentActivityName=".AdminHomePageActivityController" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyB6aWx4gtHp7fdzaTyJyVY0qGOZipA-1z0" />
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <activity
            android:name=".PostDetailsActivity"
            android:exported="true"
            android:parentActivityName=".MyPostController" />
        <activity
            android:name=".AdminHomePageActivityController"
            android:exported="true" />
        <activity
            android:name=".ProfileActivityController"
            android:exported="true"
            android:parentActivityName=".additionalActivity.HelpActivityController" />
        <activity
            android:name=".FavListActivityController"
            android:parentActivityName=".DashboardActivityController" />
        <activity
            android:name=".UserDetailsActivityController"
            android:parentActivityName=".EmergencyContactActivityController" />
        <activity
            android:name=".ResetPassActivityController"
            android:parentActivityName=".additionalActivity.HelpActivityController" />
        <activity
            android:name=".MyPostController"
            android:parentActivityName=".DashboardActivityController" />
        <activity
            android:name=".CreatePostActivityController"
            android:parentActivityName=".DashboardActivityController" />
        <activity
            android:name=".PostDetailsActivityController"
            android:parentActivityName=".additionalActivity.HelpActivityController" />
        <activity
            android:name=".EmergencyContactActivityController"
            android:parentActivityName=".DashboardActivityController" />
        <activity android:name=".RegisterActivityController" />
        <activity android:name=".LoginActivityController" />
    </application>

</manifest>